.allprojectbx {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  overflow-x: hidden;
  flex-direction: column;
  /* background-color: #010205; */
  background-color: rgb(0 0 0 / 0.69);
  color: #fff;
  background-image: url("../assets/bg7.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}

.allprojectbx h2 {
  font-size: 5vmax;
  position: relative;
}

.allprojectbx h2::before {
  content: "Projects";
  position: absolute;
  top: -40px;
  color: rgb(255 255 255 / 15%);
  font-size: 10vmax;
  left: -40px;
}

.allprojectbx h3 {
  margin-left: 20px;
  position: relative;
  padding: 10px 30px;
  border: 1px solid #444444;
  width: fit-content;
  position: relative;
  font-size: 15px;
  font-weight: 100;
  color: #b5b5b5;
}

.allprojectbx h3::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -11px;
  right: -11px;
  transform: rotate(45deg);
  border-bottom: 1px solid #444444;
  background: #010205;
}

.allprojectbx h3::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -11px;
  left: -11px;
  transform: rotate(45deg);
  border-top: 1px solid #444444;
  background: #010205;
}

.projectbx {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px 0px;
  z-index: 1;
}

/* .projectbx:nth-child(1)::after {
  content: "01";
}

.projectbx:nth-child(3)::after {
  content: "03";
} */

.sliderdiv {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.swiper {
  width: 80%;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper_slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px;
  display: flex;
  align-items: center;
}

.swiper2 {
  width: 240px;
  height: 320px;
}
.swiper_slide_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper_slide_2:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper_slide_2:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper_slide_2:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper_slide_2:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper_slide_2:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper_slide_2:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper_slide_2:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper_slide_2:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper_slide_2:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.stylediv {
  width: 130%;
  position: absolute;
  left: -100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b2038;
  display: flex;
  color: #b5b5b5;
  margin: 20px 0;
  z-index: 0;
  top: 150px;
  transform: rotate(9deg);
}

.stylediv span {
  width: 200px;
}

.stylediv2 {
  width: 130%;
  position: absolute;
  left: -100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b2038;
  display: flex;
  color: #b5b5b5;
  margin: 20px 0;
  z-index: 0;
  top: 150px;
  transform: rotate(354deg);
}
