
.card
{
    margin: 20px;
    width: 270px;
    height: 350px;
    overflow: hidden;
    border-radius: 6px;
    transition: 0.3s;
    /* background: gray; */
    position: relative;
    cursor: pointer;
    border: none;

}

.card_img
{
    width: 100%;
    height: 100%;
}

.card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}


.card_info
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.card_name
{
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    top:0;
    right: 0;
    justify-content: right ;
    align-items: center;
    background: #291940;
    color: white;
    border-radius: 3px ;
    clip-path: polygon(0 0, 100% 0, 100% 89%, 50% 100%);
    display: none;
    transition: 0.4s;

}

.card_name p{
    width: fit-content;
margin-right: 30px;
}
.card_links
{
    position: absolute;
    width: 100%;
    height: 80px;
    display: flex;
    bottom: 0;
    left: 0;
    border-radius: 3px ;
    justify-content: left ;
    align-items: center;
    background: #e3e3e3;
    clip-path: polygon(0 65%, 10% 0, 100% 100%, 0% 100%);
    display: none;
    transition: 0.4s;

}

.card_links button
{
    margin-top: 30px;
    border: none;
    border-radius: 3px;
    margin-left: 20px;
    padding: 3px 7px;
    font-size: 15px;
    cursor: pointer;
}

.card_links button a{
    text-decoration: none;
    background: transparent;
}


.card::before , .card::after
{
    content: '';
    position: absolute;
    width: 100px;
    height: 130px;
    transform: rotate(45deg);
    display: none;
}

.card::before
{
    top: -30px;
    left: -50px;
    background: #b95687;
    z-index: 1;
    
}

.card::after
{
    bottom: -50px;
    right: -30px;
    background: #b95687;
    transform: rotate(60deg);
    border-left: 10px solid pink;
}

/* hover effect */

.card:hover .card_img img
{
    transform: rotate(-7deg) scale(1.3);
    transition: 0.3s;
    filter: brightness(50%);
}

.card:hover .card_name,
.card:hover .card_links,
.card:hover::before,
.card:hover::after
{
    display: flex;
    animation: animate 0.4s ;
    transition: 0.3s;
}

@keyframes animate
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;;
    }
}