.footer {
  background-image: url("../assets/bg6.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.89);
  background-blend-mode: darken;
  color: #837285;
  text-align: center;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

.contact {
  color: #fff;
  z-index: 1;
  font-size: 1.5rem;
  padding: 10px 30px;
}

.contact ul {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact ul li {
  cursor: pointer;
}

/* .footer::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #02010299;
  position: absolute;
  top: 0;
} */

.footer video {
  position: absolute;
  top: 0;
}

.footer video::before {
  content: "";
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000b4;
}
