.projectcard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  color: #fff;
  padding: 10px;
  margin: 10px;
  position: relative;
  width: 250px;
  height: 300px;
  backdrop-filter: blur(25px) saturate(0%);
  -webkit-backdrop-filter: blur(25px) saturate(0%);
  background-color: rgba(17, 25, 40, 0.85);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.projectimg {
  position: relative;
  background: rebeccapurple;
  border-radius: 5px;
  overflow: hidden;
}

.projectdetail {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projectname {
  color: gray;
  position: relative;
  display: flex;
  transition: 0.5;
  margin: 5px;
  width: 100%;
}

/* .projectname::after {
  position: absolute;
  content: "-----";
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
} */

.view {
  background: #f8e867;
  padding: 8px 20px;
  border: none;
  font-family: "Oswald", sans-serif;
  z-index: 1;
  border-radius: 5px;
  width: 150px;
}
