.homepage {
  width: 100%;
  height: 100vh;
  background-color: yellow;
  display: flex;
  justify-content: center;
  /* background-image: url("../assets/bg4.jpg"); */
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.904);
  background-blend-mode: darken;
  flex-direction: column;
}

.introduction {
  color: #fff;
  font-size: 15px;
  margin: 20px;
}

.name {
  font-size: 5rem;
  color: #fff;
  margin: 20px;
}

.name span {
  color: #f8e867;
  margin: -15px;
}
