@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

.maindiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.863);
  background-image: url("../assets//bg5.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  position: relative;
  overflow: hidden;
}

.homepage {
  height: 100vh;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: 2px solid #444444; */
  width: 50%;
  position: relative;
  align-items: flex-start;
}

.introduction {
  color: darkgoldenrod;
  font-size: 15px;
  margin: 0 20px;
  font-weight: 600;
  width: 400px;
  margin-bottom: -40px;
  margin-left: 50px;
  letter-spacing: 2px;
  width: auto;
  padding: 5px 20px;
  border-radius: 3px;
}

.name {
  font-size: 5rem;
  color: rgb(255, 255, 255);
  margin: 0 20px;
}
.description {
  font-size: 12px;
  width: 400px;
  text-align: justify;
  color: rgb(151 151 151);
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.name span {
  color: hotpink;
  margin: -15px;
}

.role {
  color: darkgoldenrod;
  margin: 0px 20px;
  font-weight: 200;
  width: 400px;
  text-align: end;
}

.buttonpair {
  display: flex;
}

.explore {
  padding: 10px 40px;
  margin: 20px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid #444444;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.explore::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -11px;
  left: -11px;
  transform: rotate(45deg);
  border-top: 1px solid #444444;
  background: #010205;
}

.explore::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -11px;
  right: -11px;
  transform: rotate(45deg);
  border-bottom: 1px solid #444444;
  background: #010205;
}

.explore:hover {
  box-shadow: 4px 4px 0px 0px darkgoldenrod;
  -webkit-box-shadow: 4px 4px 0px 0px darkgoldenrod;
  -moz-box-shadow: 4px 4px 0px 0px darkgoldenrod;
  transition: 0.3s;
}

.explore:hover::before,
.explore:hover::after {
  width: 0;
  height: 0;
  transition: 0.3s;
}

.profileimagebx {
  display: flex;
  width: 400px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

/* .profileimage {
  width: 25%;
  height: 25%;
  border-radius: 10px;
  margin: 20px;
  position: relative;
  z-index: 1;
} */

.profileimagebx::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  top: -15px;
  right: -15px;
  border: 5px solid white;
}

.profileimagebx::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: -15px;
  left: -15px;
  z-index: 0;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
}

.scrollme {
  position: absolute;
  width: 103%;
  height: 41px;
  background-color: #2b2038;
  display: flex;
  color: #b5b5b5;
  bottom: 60px;
  left: 0;
  transform: rotate(357deg);
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.scrollme p {
  width: 100px;
}

.scrollmeto {
  position: absolute;
  width: 120%;
  height: 40px;
  background-color: #2b2038;
  display: flex;
  color: #b5b5b5;
  bottom: 43px;
  left: 0;
  transform: rotate(4deg);
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.scrollmeto p {
  width: 100px;
}
