@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap");
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px 0px;
}

.navtitle {
  font-family: "Stint Ultra Condensed", cursive;
  font-size: 2rem;
  font-weight: 500;
  color: #f8e867;
}

.navlinks ul {
  display: flex;
  color: #fff;
}

.navlinks ul a {
  margin: 10px 20px;
}

.stylebtn {
  background: #f8e867;
  padding: 10px 30px;
  display: flex;
  border: none;
  -webkit-clip-path: polygon(0 0, 75% 0, 100% 38%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 75% 0, 100% 38%, 100% 100%, 0 100%);
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  position: relative;
}
