@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  position: absolute;
  /* background: #000; */
  top: 0;
  width: 95%;
  height: 50px;
  margin-top: 15px;
  border: 2px solid #444444;
  /* clip-path: polygon(0 0, 75% 0, 100% 38%, 100% 100%, 0 100%); */
  /* border-bottom: 5px solid gray; */
  /* border-radius: 5px; */
  margin-bottom: 20px;
  margin-left: 1rem;
  z-index: 1;
}

/* .navbar::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -16px;
  left: -15px;
  transform: rotate(45deg);
  border-top: 1px solid #444444;
  background: #010205;
} */

.navbar::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: -16px;
  left: -16px;
  transform: rotate(45deg);
  border-right: 2px solid #444444;
  background: #010205;
}

/* .navbar::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: -16px;
  right: -15px;
  transform: rotate(45deg);
  border-bottom: 1px solid #444444;
  background: #010205;
} */

.navbar::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -16px;
  right: -16px;
  transform: rotate(45deg);
  border-left: 2px solid #444444;
  background: #010205;
}
.navtitle {
  /* font-family: "Stint Ultra Condensed", cursive; */
  font-size: 25px;
  font-weight: 500;
  /* color: #f8e867; */
  color: #fff;
  padding-right: 20px;
  border-right: 2px solid #444444;
  margin-left: 30px;
}

.navlinks ul {
  display: flex;
  color: #fff;
  flex-direction: row;
  align-items: center;
}

.navlinks ul a {
  margin: 0px 20px;
  position: relative;
  cursor: pointer;
}

.navlinks ul a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: goldenrod;
  transition: 0.3s;
}

.navlinks ul a:hover::before {
  width: 100%;
  transition: 0.3s;
}
.stylebtn {
  padding: 10px 30px;
  display: flex;
  border: none;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
  border-left: 2px solid #444444;
  background: transparent;
}

/* .stylebtn::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -10px;
  width: 100px;
  height: 100px;
  background: wheat;
} */

@media (max-width: 500px) {
  .navbar {
    margin-left: 0.5rem;
  }
  .navlinks ul a {
    margin: 0px 10px;
  }
}
