

.skillbox
{
  width: 100%;
  height: 100vh;
  background-image: url("../assets/skillbg.jpg");
  background-position: center;
  background-size: cover;
  background-color: #070410b0;
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.skillbox h3{
  font-size: 5vmax;
  letter-spacing: 1px;
}
.container
{
  width: 150px;
  height: 300px;
  animation: rotation 15s linear infinite alternate;
  transform-style: preserve-3d;
}

/* .left
{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  position: absolute;
  width: inherit;
  height: inherit;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  opacity: 0.7;
  background: yellow;
  transform: translate3d(0, 0, 100px);
}

.right
{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  position: absolute;
  width: inherit;
  height: inherit;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  opacity: 0.7;
  background: red;
  transform: rotateY(180deg) translate3d(0, 0, 150px);
}

.front
{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  position: absolute;
  width: inherit;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  height: inherit;
  background: blue;
  opacity: 0.7;
  transform: rotateY(-90deg) translate3d(0, 0, 150px);
}

.back
{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  position: absolute;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: inherit;
  height: inherit;
  background: green;
  opacity: 0.7;
  transform: rotateY(90deg) translate3d(0, 0, 150px);
}

@keyframes rotation {
  to {
    transform: rotateY(360deg)  ;
  }
}

@keyframes cubeShadow {
  to {
    transform: scale(1.2) translateY(-10px);
  }
}

.shadow {
    position: absolute;
    top: 300px;
    left: 175px;
    width: 50px;
    height: 50px;
    background-color: #bbb;
    box-shadow: 0 0 40px 40px #bbb;
    animation: shadow 5s infinite linear;
  }
  
  @keyframes shadow {
    0% {
      transform: rotateX(90deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(90deg) rotateZ(-360deg);
    }
  } */

  .skills
  {
    display: flex;
    
  }

  .skill{
    width: 50px;
    height: 100px;
    background: #5e4506;
    border-radius: 50%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    padding: 5px;
    color: #fff;
    position: relative;
    box-shadow: 2px 200px 176px -43px rgba(0,0,0,0.84);
  }
  

  .skill.skill:nth-child(2n){
    background: #510632;
  }

  .skill:nth-child(3n)
  {
    background: #131e2f;
  }

  .skill:nth-child(even)
  {
    animation: topdown 2s alternate infinite;
  }

  .skill:nth-child(odd)
  {
    animation: downtop 2s alternate infinite;
  }

  @keyframes topdown
  {
    0% {
      transform:translateY(-20px);
    }
    100%
    {
      transform:translateY(20px);
    }
  }

  @keyframes downtop
  {
    0% {
      transform:translateY(20px);
    }
    100%
    {
      transform:translateY(-20px);
    }
  }