.imagecontainer {
  margin: 0px 25px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 230px;
  height: 315px;
}

.imagediv {
  border: 5px solid gray;
  z-index: 1;
  border-radius: 3px;
  width: 230px;
  height: 230px;
}

.imagediv .image{
  /* width: 100%;
height: 100%;
object-fit: cover; */
}

.imagecontainer:nth-child(even) {
  flex-direction: column-reverse;
}
.imagecontainer:nth-child(2)::before {
  top: 100px;
  width: 250px;
}
.imagecontainer:nth-child(3)::before {
  top: -10px;
  right: -10px;
  left: 40px;
}

.projectnumber {
  color: rgb(161, 161, 161);
  text-align: center;
  z-index: 1;
  position: relative;
  /* background-color: rgb(13 13 13); */
  font-size: 45px;
}

/* .projectnumber::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 3px;
  background-color: white;
  top: 0;
  left: 0;
  top: 50%;
  left: 39%;
  z-index: -1;
} */

.imagecontainer::before {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  border: 2px solid white;
  top: -10px;
  left: -10px;
  z-index: 0;
}
